faiss-cpu
ipykernel
langchain-openai
langchain-google-genai
langchain-community
langchain
openai
tiktoken
python-dotenv
# python-magic-bin #==0.4.14
python-magic #==0.4.27
libmagic
streamlit
streamlit-extras
unstructured #==0.11.6
sentence-transformers
